.button {
  box-sizing: border-box;
  display: block;
  text-align: center;
  width: 100%;
  padding-block: 14px;
  background-color: $main-text-color;

  text-decoration: none;
  color: $default-white-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;

  border: 2px solid $main-text-color;
  border-radius: 8px;
  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
    color: $main-text-color;
    background-color: $lite-grey-color;
    border: 2px solid $button-border-color;
  }
  &:active {
    color: $default-white-color;
    background-color: $active-color;
  }
}
