.contact-us {
  &__container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 48px;

    @include on-desktop {
      grid-template-columns: repeat(2, 1fr);
      gap: 0 110px;
    }
  }
}
