@use "../utils/mixin";

.recommended {
  margin-bottom: 96px;

  &__products {
    @include mixin.page-grid;

    row-gap: 40px;
  }

  &__product {
    grid-column: 1 / -1;

    @include mixin.on-tablet {
      grid-column: 2 / -2;
    }

    @include mixin.on-desktop {
      grid-column: span 4;
    }
  }
}
