$tablet-min-width: 746px;
$desktop-min-width: 1260px;
$main-text-color: #292929;
$secondary-text-color: #191919;
$default-white-color: #fff;
$default-grey-color: #9393a3;
$lite-grey-color: #f8f8fa;
$button-border-color: #f0f1f4;
$input-border-color: #d5d7de;
$active-color: #111;
$placeholder-color: #7e7e83;
